backend/venv/
backend/*.sqlite3/
backend/*.sqlite3
backend/db.sqlite3
.VTPOP
.venv
__pycache__/
*.pyc
instance/
migrations/
*.sqlite3
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.swp
*.sqlite3
*.egg-info/
.env
.env.*
*.env
db.*