# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv
venv/
ENV/
backend/venv/

# Database
backend/db.sqlite3
db.sqlite3
*.sqlite3
*.db
*.sql
*.sqlite
*.sqlite3-journal
*.db-journal
*.sqlite3-shm
*.sqlite3-wal
*.db-shm
*.db-wal
*.db3
*.s3db
*.sl3
*.sqlitedb
*.db3

# Environment variables
.env
.env.*
!.env.example

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
build/
dist/

# Local development
.VTPOP
instance/
migrations/

# Misc
*.pot
*.pyo
*.pyd
__pycache__/
