# URL base de la API de backend
VITE_API_BASE_URL=https://backend-tpop.onrender.com/api

# Tiempo máximo de espera para las peticiones (en milisegundos)
# Por defecto: 30000 (30 segundos)
# Puedes ajustar este valor según las necesidades de tu servidor
VITE_API_TIMEOUT=30000

# S3 credentials Urls
VITE_S3_BUCKET_URL=
